* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.avlabari {
    background-color: lightblue;
    padding: 20px 100px;
}

.avlabari a {
    margin-right: 20px;
}

.avlabari nav {
    border-top: 2px grey solid;
    border-bottom: 2px grey solid;
    padding: 10px;
    margin-bottom: 20px;
}

.avlabari_img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    float: right;
    border: 3px solid black;
    margin-left: 10px;
}