* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    text-align: center;
    border: 2px solid black;
    min-height: 200px;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.task2 {
    background-color: yellow;
}

.task3 {
    color: red;
    text-align: end;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
}

.task4 {
    text-align: start;
    padding: 20px;
}

.task4 h3{
    text-align: end;
    padding: 20px;
}

.task4 h2 {
    text-align: center;
}

.girlname {
    border-bottom: solid 5px red;
    width: 50%;
}

.boyname {
    border-bottom: solid 5px blue;
    width: 50%;
}

.task5 {
    text-align: start;
    padding-left: 20px;
    height: 250px;
    font-weight: bold;
}

.upper {
    text-decoration-line: overline;
    font-size: 40px;
}

.crossed {
    font-size: 26px;
    text-decoration: line-through;
}

.under {
    font-size: 20px;
    text-decoration: underline;
}

.task6 {
    text-align: start;
    padding-left: 20px;
}

.task6 ul {
    letter-spacing: 7px;
}

.task7 {
    text-align: start;
    padding: 20px;
}

.task7 p {
    border-color: aqua;
    border-width: 7px;
}

.mix {
    border-top: dotted;
    border-right: none;
    border-bottom: solid;
    border-left: double;
}

.task8 {
    text-align: start;
    padding: 20px;
}

.simple {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}

.red {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: red;
}

.img {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    background-image: url(sea.jpg);
}

.task9 {
    padding: 30px;
}

.four {
    border-radius: 15px 50px 30px 5px;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 20px;
}

.three {
    border-radius: 15px 50px 30px;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 20px;
}

.two {
    border-radius: 15px 50px;
    width: 100px;
    height: 100px;
    background-color: red;
}

.task10 {
    padding: 30px;
}

.first {
    border-radius: 50px/15px ;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    margin-bottom: 20px;
}

.second {
    border-radius: 15px/50px ;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    margin-bottom: 20px;
}

.thirth {
    border-radius: 50% ;
    width: 100px;
    height: 70px;
    background-color: red;
    border: 3px solid black;
}